{% extends 'layout.twig' %}

{% block body %}
    <button class="js-clear">Clear</button>
    <table>
        <thead>
            <tr>
                <td>Фамилия</td>
                <td>Added</td>
                <td>ID</td>
                <td>Phone</td>
                <td>Gender</td>
                <td>Age</td>
                <td>Home address</td>
                <td>Work address</td>
                <td>Income</td>
                <td>Current device model</td>
                <td>Price</td>
                <td>Last device model</td>
                <td>Change date</td>
                <td>Last travel</td>
                <td>Name target</td>
                <td>Photo target</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}
