{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>

    <table>
        <thead>
            <tr>
                <td>Фамилия</td><td>Added</td><td>ID</td><td>Phone</td><td>Sex</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

{% endblock %}
