<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="favicon.png" type="image/png" />
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/javascripts/index.js"></script>
  </body>
</html>
